<div ng-if="hateoasUiControl.type === 'dropdown'" class="btn-group">

	<button type="button" class="btn btn-default dropdown-toggle" ng-class="{disabled: loading}" data-toggle="dropdown">
		{{loading ? 'Loading...' : selectedOption.name || hateoasUiControl.prompt}}
		&nbsp;
		<span class="caret"></span>
	</button>

	<ul class="dropdown-menu" role="menu">
		<li ng-if="!loading" ng-repeat="option in hateoasUiControl.options" ng-click="userSetValue(option.value)">
			<a href="">{{option.name}}</a>
		</li>	
	</ul>

</div>


<div ng-if="hateoasUiControl.type === 'radio'" class="btn-group-vertical">
	
	<button ng-if="loading" type="button" class="btn btn-default disabled">
		Loading...
	</button>

	<button ng-if="!loading" ng-repeat="option in hateoasUiControl.options" type="button" class="btn btn-default" ng-class="{active: option.value === selectedOption.value}" ng-click="userSetValue(option.value)">
		{{option.name}}
	</button>

</div>
